* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
}

.home,.services,.products,.contact-us, .sign-up,.marketing,.consulting {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    font-size: 3rem;
}
